body {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(161, 160, 160, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgba(23, 22, 22, 0.44);
  }
}
